// Official Sidebery vars
#root.root {
	--tabs-font: 10pt sans-serif;
	--tabs-margin: 0px;
	--nav-btn-width: 42px;
	--nav-btn-height: 42px;
	--tabs-border-radius: 8px;
	// Apparently using vars breaks this for some reason
	--tabs-height: 36px; // calc(var(--sidebar-width) - var(--tab-margin) * 2)
	--tabs-inner-gap: 10px;
	--tabs-pinned-width: 42px;
	--tabs-pinned-height: 42px;
	--search-height: 36px;
	--search-icon-width: 42px;
	--nav-btn-margin: 0px;
}

// Custom vars
#root.root {
	--audio-position: 20px;
	--audio-size: 16px;
	--tab-margin: 3px;
	--sidebar-width: 42px;
}

// Top nav bar
.NavigationBar {
	// Show panels
	&[data-layout="inline"]
		.main-items
		.nav-item[data-index="-1"][data-active="true"] {
		opacity: 1;
		transform: scale(1, 1);
	}

	// Navigation items (mostly panels). The reason why I set width and height here despite
	// --nav-btn-width/height already being set, is because the box-shadow would otherwise
	// be clipped off. Ugly fix but whatever
	.nav-item {
		width: var(--tabs-height);
		height: var(--tabs-height);
		border-radius: var(--tabs-border-radius);
		margin: 0 var(--tab-margin);

		&[data-active="true"] {
			box-shadow:
				1px 2px 5px var(--color),
				inset 0 0 0 1px #ffffff26,
				inset 0 1px 1px var(--color);
		}
	}

	// Transition for when panels etc. appear
	.static-btns {
		transition: opacity 0.5s linear;
	}
}

// Multiple lines of pinned tabs are glichty and annoying, so this limits them to one line
.PinnedTabsBar {
	flex-wrap: nowrap !important;

	.Tab .body {
		width: var(--tabs-height) !important;
		height: var(--tabs-height) !important;
	}
}

// Tab styling
.Tab {
	.body {
		margin: 0 var(--tab-margin);
		width: unset;
		transition:
			box-shadow 0.25s ease,
			background 0.25s ease;

		.fav {
			margin: 0 var(--tabs-inner-gap) !important;
		}

		.t-box .title {
			transform: none;
		}
	}

	// When active
	&[data-active="true"] .body {
		background: linear-gradient(125deg, #ffffff26, #00000026);
		box-shadow:
			-2px -3px 6px #ffffff33,
			2px 3px 7px #00000040,
			inset 0 0 0 1px #ffffff26,
			inset 0 1px 1px #ffffff33;
	}
}

// Styling for the audio symbol that appears next to tabs and the panel playing audio
.audio {
	top: var(--audio-position) !important;
	left: var(--audio-position) !important;
	height: var(--audio-size) !important;
	width: var(--audio-size) !important;
	background-color: transparent !important;
	box-shadow: none !important;
}

// When not hovered
#root:not(:hover) {
	// Hides the line that appears to the left of child tabs
	&[data-tabs-tree-lvl-marks="true"]
		.Tab[data-pin="false"]:not([data-lvl="0"])
		.body:after {
		display: none;
	}

	// Hides nav buttons on the right side
	.NavigationBar[data-layout="inline"] .static-btns {
		opacity: 0;
		z-index: -1;
		transform: scale(0, 0);
	}

	// Removes indent so all tabs are on the same level
	.TabsPanel {
		--tabs-indent: 0px;
	}
}

// Bottom bar with buttons like bookmarks, sync and history
.BottomBar {
	// The position absolute on the sidebar breaks the BottomBar. This is the fix
	bottom: var(--nav-btn-height) !important;

	.tool-btn {
		min-width: var(--tabs-height);
	}
}
