@use "config" as *;
@use "macControls" as mac;
@use "fullHide" as full;

@if $enable-mac-controls {
	@include mac.styles;
}

@if $enable-full-hide {
	@include full.styles;
}

#sidebar-container {
	width: #{$sidebar-width} !important;
}

// Sidebar base styling for Sidebery or similar extensions
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
	position: absolute !important; // Replace with relative to move tab content
	width: #{$sidebar-width} !important;
	height: 100vh !important;
	min-width: unset !important;
	max-width: unset !important;
	padding: unset !important;
	transition: width #{$transition-time} ease-in-out !important;
	will-change: width !important;
	z-index: 1000 !important;
	--sidebar-box-start-start-radius: #{$border-radius} !important;
	--sidebar-box-start-end-radius: #{$border-radius} !important;

	&:is(:hover, :focus) {
		width: #{$sidebar-expanded-width} !important;
	}

	~ #sidebar-splitter {
		display: none !important;
	}
}

// Hide panel header. Fixing the design was too annoyning and Mozilla will probably change this
// soon anyway.
#sidebar-panel-header {
	display: none !important;
}

// Removes the extra borders around websites. border-start-start-radius is the round edge btw.
#tabbrowser-tabbox .browserContainer {
	border-inline-start: unset !important;
	border-block-start: unset !important;
}
