#root {
	overflow: hidden;
}

.logo-and-wordmark {
	.logo {
		border-radius: 43%;
		filter: drop-shadow(-0.08rem 0.3rem 0.2rem #df0d65c0)
			drop-shadow(0.2rem -0.3rem 0.2rem #ffde41c0);
		transition: filter 1s;

		&:hover {
			filter: drop-shadow(-0.08rem 0.3rem 0.5rem #625ad9c0)
				drop-shadow(0.2rem -0.3rem 0.5rem #bb3ae6c0);
			animation: barrelRoll infinite linear 0.5s;
		}

		&:active {
			position: relative;
			left: 0;
			animation:
				barrelRoll infinite linear 0.5s,
				sonic linear 1s forwards;
		}
	}

	.wordmark {
		filter: drop-shadow(0.2rem 0.2rem 0.1rem #0004);
	}
}

.tile {
	background: rgba(255, 255, 255, 0.05) !important;
	border-radius: 16px !important;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

@keyframes barrelRoll {
	to {
		rotate: 1turn;
	}
}

@keyframes sonic {
	to {
		left: 65vw;
	}
}
