#root {
	overflow: hidden;
}

.logo-and-wordmark {
	.logo {
		border-radius: 43%;
		filter: drop-shadow(-0.08rem 0.3rem 0.2rem #df0d65c0)
			drop-shadow(0.2rem -0.3rem 0.2rem #ffde41c0);
		transition: filter 1s;

		&:hover {
			filter: drop-shadow(-0.08rem 0.3rem 0.5rem #625ad9c0)
				drop-shadow(0.2rem -0.3rem 0.5rem #bb3ae6c0);
			animation: barrelRoll infinite linear 0.5s;
		}

		&:active {
			position: relative;
			left: 0;
			animation:
				barrelRoll infinite linear 0.5s,
				sonic linear 1s forwards;
		}
	}

	.wordmark {
		filter: drop-shadow(0.2rem 0.2rem 0.1rem #0004);
	}
}

.click-target-container *,
.top-sites-list *,
.section-title * {
	color: #fff !important;
	text-shadow: 2px 2px 2px #222 !important;
}

.top-sites-list {
	&:has(.top-site-outer:focus-within) .top-site-outer:not(:focus-within) {
		pointer-events: none;
		opacity: 0;
		visibility: hidden;
	}
}

.top-site-outer {
	margin: 0.25rem !important;
	aspect-ratio: 1;
	width: 100px !important;
	height: 100px !important;
	border-radius: 18px !important;
	transition: all ease-in-out 0.2s;

	.top-site-button {
		&:focus {
			outline: none !important;

			.tile,
			.tile * {
				outline: none !important;
			}
		}
	}

	&:is(.active, :focus, :hover) {
		background-color: hsla(0, 0%, 100%, 0.05) !important;
		backdrop-filter: blur(7px);
		box-shadow:
			0 2px 6px hsla(0, 0%, 0%, 0.17),
			inset 1px 1px 2px hsla(0, 0%, 100%, 0.15),
			inset 0 0 1px hsla(0, 0%, 100%, 0.1);
		scale: 1.05;

		.icon-wrapper {
			transform: scale(1.225);
			margin-bottom: 0.5rem;
		}

		.tile {
			width: auto !important;
			height: auto !important;
		}
	}

	&:active {
		scale: 0.95;
	}

	.top-site-button {
		&:focus {
			outline: none !important;
		}
	}

	.tile {
		background: none !important;
		box-shadow: none !important;

		.icon-wrapper {
			width: 48px !important;
			height: 48px !important;
			transition: transform 0.2s ease-in-out;
		}

		.top-site-icon {
			width: 100% !important;
			height: 100% !important;
			background-size: contain !important;
			// filter: sepia(100%) saturate(500%) hue-rotate(260deg)
			// 	brightness(0.8) contrast(1.2) !important;
		}
	}

	.title {
		span {
			font-size: 0.95rem;
			user-select: none;
		}

		&:not(.pinned) span {
			font-style: italic;
		}

		.icon-pin-small {
			display: none !important;
		}

		.title-label {
			font-size: 0.75rem !important;
			// only one line
			white-space: nowrap !important;
			overflow: hidden !important;
			text-overflow: ellipsis !important;
			max-width: 100% !important;
			display: block !important;
		}
	}

	&:has(.sponsored) {
		display: none !important;
	}
}

@keyframes barrelRoll {
	to {
		rotate: 1turn;
	}
}

@keyframes sonic {
	to {
		left: 65vw;
	}
}
